* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Nunito Sans", sans-serif;
}

body {
  background-color: #94d9ea;
}

.Contenido-Principal {
  min-height: 100vh;
  width: 80%;
  margin: 2rem auto;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.seccion-Izquierda {
  grid-column: span 2.5;
  height: 100%;
  background-color: #00324a;
}

.seccion-Derecha {
  grid-column: span 5;
  background-color: #f7f7f7;
  height: 100%;
}

.contenido-derecho {
  padding: 1rem 3rem;
}

.perfil {
  width: 100%;
  border-bottom: 1px solid #94d9ea;
}

.perfil img {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #002333;
}

.nombre {
  font-size: 2rem;
  color: white;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2rem 0;
}

.carrera {
  font-size: 1.2rem;
  color: #94d9ea;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 1rem;
}

.info-cont {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f7f7f7;
  padding-top: 2rem;
}

.contacto-info {
  padding-top: 2rem 0;
}

.contacto-info ul {
  padding-top: 2rem 0;
}

.contacto-info ul li {
  padding: 0.4rem 0;
  display: flex;
  align-items: center;
  color: #718096;
}

.contacto-info ul li i {
  padding-right: 1rem;
  font-size: 1.5rem;
  color: #22aed1;
}

.skill ul {
  padding-top: 2rem;
}

.skills ul li {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.4rem 0;
}

.titupri {
  font-size: 1.8rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f7f7f7;
  padding-top: 3rem;
}
.skill1 {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1.1rem;
  padding-right: 1rem;
}

.skill2 {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1.1rem;
}

.skill3 {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1.1rem;
}

.progress-bar {
  width: 100%;
  height: 0.5rem;
  background-color: #2d3748;
  position: relative;
}

.progress {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: #2d9cdb;
}

.js-progress {
  width: 60%;
}

.html-progress {
  width: 90%;
}

.css-progress {
  width: 75%;
}

.skills {
  text-transform: uppercase;
  color: #f7f7f7;
  font-size: 1rem;
}

.refer {
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f7f7f7;
  padding-top: 2rem;
}

.refer ul {
  padding-top: 2rem;
}

.refer li {
  color: #ccc;
  padding: 0.2rem 0;
}

.refer li i {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: #2d9cdb;
}

.sub-titulo {
  color: #ccc;
  padding-top: 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.oficio {
  color: #ccc;
  padding: 0.4rem 0;
}

.oficio li {
  color: #ccc;
  padding: 0.2rem 0;
}

.oficio li i {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: #2d9cdb;
}

.oficio li i p {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: #2d9cdb;
}

.referencia li {
  color: #ccc;
  padding: 0.2rem 0;
}

.referencia li i {
  padding-right: 0.5rem;
  font-size: 1.2rem;
  color: #2d9cdb;
}
